# Ignorar a pasta .vs e todos os seus conteúdos
/.vs

# Ignorar arquivos específicos dentro de .vs/ProjectEvaluation
/.vs/ProjectEvaluation/thrapi.metadata.v7.bin
/.vs/ProjectEvaluation/thrapi.projects.v7.bin

# Ignorar arquivos específicos dentro de .vs/ThrApi/DesignTimeBuild
/.vs/ThrApi/DesignTimeBuild/.dtbcache.v2

# Ignorar arquivos específicos dentro de .vs/ThrApi/v17
/.vs/ThrApi/v17/.futdcache.v2
/.vs/ThrApi/v17/.suo
